body {
    background-color: var(--shape-background);
}

#division {
    display: grid;
    grid-template-columns: 32.79% 67.21%;
    overflow: hidden;
    height: 100vh;
    gap:1.25rem;
    padding-block: 1.3rem;
}

aside {
    .asid-container {
        margin-left: auto;
        background-image: url(../assets/images/Background.png);
        background-size: cover;
        background-position: center;
        height: 45.5rem;
        max-width: 25rem;
        border-radius: 0.75rem;

        & .secondary {
            display: grid;
            justify-items: center;
            width: 21rem;
            height: 9rem;
            position: absolute;

            & h1 {
                color: var(--pink);
                font: var(--text);
                margin-bottom: 0.25rem;
            }

            & p {
                font: var(--open-sm);
                color: var(--text-body);
            }

            & .fest {

                img {
                    padding-bottom: 1rem;
                    position: relative;
                    height: 3rem;
                    width: 2.86rem;

                    right: 6.7rem;
                    top: 1.85rem;
                }
            }

        }

    }
}


main {
    overflow: auto left;
    margin-right: auto;

    & .primary {
        background-color: var(--shape-hover);
        height: 123.81rem;
        width: 51.25rem;
        border-radius: 0.75rem;
        padding-block: 5rem;
        padding-inline: 7.5rem;
        & h1{
            
            font: var(--baloo-md);
            color: var(--text-heading);
            padding-bottom: 2.5rem;
        }
        
    }






}