.Leckerli{
    font: var(--text);
}

.grid{
    display: grid;
    
}
.grid-1{
    display: grid;
    grid-template-columns:1fr 1fr ;
}
.grid-2{
    display: grid;
    grid-template-columns:1fr 63% ;
}


.flex{
    display: flex;
}
.flex-1{
    flex-direction: row;
}
.gap-auto{
    gap: auto;
}
