.Leckerli{
    font: var(--text);
}

.grid{
    display: grid;
    
}
.grid-1{
    display: grid;
    grid-template-columns:repeat( 2, 50% 50%) ;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(3, 25% 25% 50% );
}

